.box6{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(129, 245, 204);
    margin: 10px;
    
}

.link1{
    
    font-size: medium;
    margin: 40px;
    color:rgb(19, 17, 17);
    
    text-decoration: none;}