.box6{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(104, 58, 58);
    margin: 10px;
    
}

.link1{
    
    font-size: medium;
    margin: 40px;
    color:white;
    
    text-decoration: none;}